{% extends 'home.html' %}

{% block title %} Techniqo Homepage{% endblock %}
{% block style %}
.vl {
  border-left: 1px solid black;
  height: 400px;
}
.butt{
 margin-left: 200px;
}
h3{
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ff0d00,#00fc43); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#ff0d00,#00fc43); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff0d00,#00fc43); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff0d00,#00fc43); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
{% endblock %}
{% block body %}
{% load static %}
<div class="container">
    <h1 align="center" class="text-secondary mb-5">Welcome to Techniqo</h1>
    <div class="row">

        <div class="col-lg-8 col-sm-12">
            <h2> Channel Pattern for Indian Stocks</h2>
            <div class="row mt-4">
                <div class="col-6">
                    <a href="{{STATIC_URL}}/channel/?mark=trendlinesupport"> <h5 class="text-success">Trendline Support</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=trendlineresistance"> <h5 class="text-danger">Trendline Resistance</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=wedgeup"> <h5 class="text-danger">Wedge Up</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=wedge"> <h5 class="text-dark">Wedge</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=wedgedown"> <h5 class="text-success">Wedge Down</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=ascendingtriangle"> <h5 class="text-danger">Ascending Triangle</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=descendingtriangle"> <h5 class="text-success">Descending Triangle</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=head_and_shoulder"> <h5 class="text-danger">Head & Shoulder</h5></a>
                </div>
                <div class="col-6">
                    <a href="{{STATIC_URL}}/channel/?mark=channelup"> <h5 class="text-success">Channel Up</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=channel"> <h5 class="text-dark">Channel</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=channeldown"> <h5 class="text-danger">Channel Down</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=doubletop"> <h5 class="text-danger">Double Top</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=multipletop"> <h5 class="text-danger">Multiple Top</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=doublebottom"> <h5 class="text-success">Double Bottom</h5></a>
                    <a href="{{STATIC_URL}}/channel/?mark=multiplebottom"> <h5 class="text-success">Multiple Bottom</h5></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 img_1">
            <img src="{% static 'Channel-col.png' %}" style="height: 350px; width: 350px;" class="ml-5">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <img src="{% static 'public_sentiments.png' %}" style="height: 300px;width: 350px; " class="">
        </div>
        <div class="col-md-8">
            <h3 class="mt-3 mb-3">Public Sentiment of each stock by data analysis</h3>
          <h5>This Indicator shows Greed and Fear of public according to mood of market!</h5>
          <h5>It is Inspired by Warren Buffet's value investing Model</h5>
        </div>
    </div>

    <div>

            <h3 class="mt-3 mb-3" align="center">Techniqo Special Alerts</h3>
          <h5 align="center">Alerts about swing trading , intraday trading , long term investment is given after doing deep analysis</h5>
            <div align="center">
                <img src="{% static 'alert_img.png' %}" style="height: 400px;width: 400px;margin-left:100px; ">
            </div>
            <div class="alertc" align="center">
                <a href="{{STATIC_URL}}/opinion/"><button type="button" class="btn btn-outline-dark"> Click Here </button></a>
            </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3 class="mt-3 mb-3" align="center">Custom Screener</h3>
          <h5>This Screener helps to shortlist stocks using custom parameters of users.</h5>
            <img src="{% static 'screener_img.png' %}" style="height: 300px;width: 300px;margin-left:100px; ">
            <div class="butt">
                <a href="{{STATIC_URL}}/scanner/"><button type="button" class="btn btn-outline-dark"> Click Here </button></a>
            </div>
        </div>

        <div class="col-md-6 vl">
            <h3 class="mt-3 mb-3" align="center">Backtesting Strategies</h3>
          <h5>Improve your strategies by observing historical profit or loss of that particular strategy</h5>
            <img src="{% static 'backtesting_img.png' %}" style="height: 300px;width: 300px; margin-left:100px; ">
            <div class="butt">
                <a href="{{STATIC_URL}}/backtest/"><button type="button" class="btn btn-outline-dark"> Click Here</button></a>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3 class="mt-3 mb-3" align="center">Trending News</h3>
          <h5>Make a strong and secure portfolio by getting yourself updated by trending news</h5>
            <img src="{% static 'portfolio_img.png' %}" style="height: 350px;width: 350px; margin-left:100px; ">
            <div class="butt">
                <a href="{{STATIC_URL}}/news/"><button type="button" class="btn btn-outline-dark" > Click Here </button></a>
            </div>
        </div>
        <div class="col-md-6 vl">
            <h3 class="mt-3 mb-3" align="center">Intrinsic Valuation</h3>
          <h5>Know which stocks are under their intrinsic value to get perfect entry</h5>
            <img src="{% static 'intrin.png' %}" style="height: 350px;width: 350px; margin-left:100px; ">
            <div class="butt">
                <a href="{{STATIC_URL}}/intrinsic/"><button type="button" class="btn btn-outline-dark"> Click Here </button></a>
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
{% block diva %}
<h4 align="center"><u>Vector Credits</u></h4>
<div class="row mt-2" align="center">

    <div class="col-4">
        <a href='https://pngtree.com/so/financial' class="text-white">financial png from pngtree.com</a><br>
        <a href='https://pngtree.com/so/thinking' class="text-white">thinking png from pngtree.com</a>
    </div>
    <div class="col-4">
        <a href='https://pngtree.com/so/laptop' class="text-white">laptop png from pngtree.com</a><br>
        <a href='https://pngtree.com/so/equity-market' class="text-white">equity-market png from pngtree.com</a>
    </div>
    <div class="col-4">
        <a href='https://pngtree.com/so/2-5d-mouse-painting-computer-data-analysis' class="text-white">2-5d-mouse-painting-computer-data-analysis png from pngtree.com</a><br>
        <a href='https://pngtree.com/so/engagement' class="text-white">engagement png from pngtree.com</a>
    </div>
</div>
{% endblock %}
</div>

{% endblock %}
<!-- <a href='https://pngtree.com/so/financial'>financial png from pngtree.com</a>-->
<!-- <a href='https://pngtree.com/so/laptop'>laptop png from pngtree.com</a>-->
<!-- <a href='https://pngtree.com/so/2-5d-mouse-painting-computer-data-analysis'>2-5d-mouse-painting-computer-data-analysis png from pngtree.com</a>-->
<!-- <a href='https://pngtree.com/so/thinking'>thinking png from pngtree.com</a>-->
<!-- <a href='https://pngtree.com/so/equity-market'>equity-market png from pngtree.com</a>-->
<!-- <a href='https://pngtree.com/so/engagement'>engagement png from pngtree.com</a>-->