{% extends 'candlepattern/basic.html' %}

{% block title %} CandleStick Patterns {% endblock %}
{% block style %}
.dropdown-menu
{
   height: 175px;
   overflow: auto;
}
{% endblock %}
{% block body %}

<div class="alert alert-primary" role="alert" align="center">
  Candlestick patterns gets updated everyday at <b>6 PM</b>
</div>

<div class="container-fluid mt-4">
<h2>CandleStick type :- {{ candle }} </h2>
<p>A rising sun pattern is a two-day, candlestick price pattern that marks a potential short-term reversal from a downward trend to an upward trend. The pattern includes the first day opening near the high and closing near the low with an average or larger-sized trading range. It also includes a gap down after the first day where the second day begins trading, opening near the low and closing near the high. The close should also be a candlestick that covers at least half of the upward length of the previous day's red candlestick body.</p>
<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select  Index
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/nifty_50">NSE (Nifty 50)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/nifty_100">NSE (Nifty 100)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/nifty_200">NSE (Nifty 200)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/nifty_next_50">NSE (Nifty next 50)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/nifty_500">NSE (Nifty 500)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/midcap_50">NSE (Nifty Midcap 50)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/midcap_150">NSE (Nifty Midcap 150)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/midcap_100">NSE (Nifty Midcap 100)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/smallcap_50">NSE (Nifty Smallcap 50)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/smallcap_250">NSE (Nifty Smallcap 250)</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/bse_100">BSE 100</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/bse_200">BSE 200</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/candlepattern/rising_sun/bse_500">BSE 500</a>

  </div>
</div>
<div align="center">  <h5>{{signals}}</h5>  </div>
<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Stocks</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Close</th>
    </tr>
  </thead>
  {% if number == 0 %}
     <h4>No stock found!!</h4>
  {% else %}
  <tbody>
  {% for stock_name, open, high, low, close in zips  %}
<tr>
      <th scope="row">{{stock_name}}</th>
      <td>{{ open }}</td>
      <td>{{ high }}</td>
      <td>{{ low }}</td>
      <td>{{ close }}</td>
</tr>
  {% endfor %}
  </tbody>
  {% endif %}
</table></div>

{% endblock %}
