{% extends 'home.html' %}

{% block title %} Special Alerts | Swing Trading | Intraday Trading | Long Term {% endblock %}
{% block style %}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid black;
}
{% endblock %}
{% block body %}
<div class="container-fluid mt-5">
<div class="row">
    <div class="col-lg-4">
        <div class="shadow-lg mb-5 bg-white rounded">
            <div class="card">
              <div class="card-body">
                  <h3 align="center"><u>Intraday Trading Opinions</u></h3>
                  <h4 align="center">For 05-10-2020</h4>
                  <hr/>
                  {% if kitne >= 3 %}
                  <h5><b>{{name_ticker.0}}</b> :- {{type_opinion.0}} - {{type_opinion_value.0}} | Target - {{target_value.0}}</h5><br>
                  <h5><b>{{name_ticker.1}}</b> :- {{type_opinion.1}} - {{type_opinion_value.1}} | Target - {{target_value.1}}</h5><br>
                  <h5><b>{{name_ticker.2}}</b> :- {{type_opinion.2}} - {{type_opinion_value.2}} | Target - {{target_value.2}}</h5><br>
                  {% elif kitne == 2 %}
                  <h5><b>{{name_ticker.0}}</b> :- {{type_opinion.0}} - {{type_opinion_value.0}} | Target - {{target_value.0}}</h5><br>
                  <h5><b>{{name_ticker.1}}</b> :- {{type_opinion.1}} - {{type_opinion_value.1}} | Target - {{target_value.1}}</h5><br>
                  {% else %}
                  <h5><b>{{name_ticker.0}}</b> :- {{type_opinion.0}} - {{type_opinion_value.0}} | Target - {{target_value.0}}</h5><br>
                  {% endif %}
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="shadow-lg mb-5 bg-white rounded">
            <div class="card">
              <div class="card-body">
                <h3 align="center"><u>Swing Trading Opinions</u></h3>
                <hr/>
                <h5><b>BDL</b> :- Buy on dips | Target - 342</h5><br>
                <h5><b>BHARTIARTL</b> :- Buy | Target - 560</h5><br>
		<h5><b>ITC</b> :- Buy on dips | Target - 192</h5><br>
	      	<h5><b>POWERGRID</B> : - Buy | Target - 175</h5>
	      </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
       <div class="shadow-lg mb-5 bg-white rounded">
            <div class="card">
              <div class="card-body">
                <h3 align="center"><u>Long Term Opinions</u></h3>
                <hr/>
                <h5><b>BAJAJFINSERV</b> :- Buy | Target - 7800+</h5><br>
                <h5><b>SBIN</b> :- Buy | Target - 250+</h5>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
<div style="display: none;">
{% block diva %}
<h4 align="center"><u>Note</u></h4>
    <div align="center">This Opinions are for education purpose only .</div>
{% endblock %}
</div>
{% endblock %}
