{% extends 'home.html' %}

{% block title %}Custom Screener Result{% endblock %}

{%block keyw%}
<meta name = "keywords" content = "technical screener for stocks, custom screener of nse,stock screener, stock screener investing, stock screener day trading,stock screener nse, stock screener by price, stock screener free, stock screener by rsi, stock screener free india">
<meta name = "description" content = "Technical screener of stocks - filter stocks based on technical analysis. Find the stocks to buy on techniqoo. Scan stocks based on rsi, macd, and other indicators">
{%endblock%}

{% block style %}

{% endblock %}

{% block body %}
{% load static %}
<div class="container">
<div class="shadow mb-5 mt-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
          <h1 align="center">Custom Screener Result</h1>
      </div>
    </div>
</div>

<div class="shadow mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Stock Name</th>
              <th scope="col">Ticker</th>
              <th scope="col">Last Price</th>
            </tr>
          </thead>
          <tbody>
          {% for stock_nam , ticker_nam , ltp_nam in zipal %}
            <tr>
              <td><b>{{ stock_nam }}</b></td>
              <td>{{ ticker_nam }}</td>
              <td>{{ ltp_nam }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
</div>
</div>
{% endblock %}

