{% extends "home.html" %}
{% block body%}
{% if email == "invalid" %}
<script>
  alert("Incorrect security_que/answer")
</script>
{% endif %}
<div class = "container">
<form class="form-signin" action = "forgot" method = "post">{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name = "email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <select name = "security_que" required>
    <option value = "1">Childhood best friend</option>
    <option value = "2">First school name</option>
    <option value = "3">Favourite actor/actress</option>
  </select>
  <input type = "text" name = "ans" required>
  <button class="btn btn-lg btn-primary" type="submit">Reset</button>
</form>
</div>
{% endblock %}